@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.body-background {
    background-image: url("https://wallpaperset.com/w/full/a/a/7/541907.jpg");
}

main {
    background-color: rgba(177, 177, 177, 0.73);
    max-width: 600px;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0px 0px 32px #4f4f4f;
    height: auto;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto';
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

h2 {
    font-size: 32px;
    text-align: center;
    color: #1e1e1e;
    margin: 16px 0px;
}

label {
    width: 40%;
    font-weight: 300;
    font-size: 20px;
    margin: 5px 0px;
}

input {
    width: 100%;
    padding: 5px 10px;
}

select {
    width: 100%;
}

button {
    width: 40%;
    color: white;
    background-color: #12284a;
    border: none;
    cursor: pointer;
}

button:active {
    background-color: #28559c;
}

button, select, input {
    height: 40px;
    font-size: 20px;
    font-family: 'Roboto';
}

select, input {
    margin: 10px 0px;
}