<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Hello {name ?: "Qute"}</title>
    <style>
        body {
            background-color: #000;
            color: #fff;
        }

        h1 {
            color: #4695EB;
            font-size: 6vw;
        }

        h1 b {
            color: #be9100;
        }

        p {
            font-size: 2vw;
        }
    </style>
</head>

<body>
    <h1>Hello <b>{result ?: "Qute"}</b></h1>
    <form action="" method="post">
        <label>Valor 1</label>
        <input name="n1">
        <select name="operacao">
            <option value = "soma">+</option>
            <option value = "subtracao">-</option>
            <option value = "multiplicacao">*</option>
            <option value = "divisao">/</option>
        </select>
        <label>Valor 2</label>
        <input name="n2">
        <button>Calcular</button>
    </form>
    <p>Create your web page using Quarkus RESTEasy & Qute</p>
</body>

</html>