<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <title>Calculadora</title>
  </head>
  <body>
    <div class="principal">
      <div class="formulario">
        <h1>
          <img src="./img/calculadora.png" style="width: 40px" /> Calculadora
        </h1>
        <form action="/calculadora" method="get">
          <div class="resultado">
            <h2>Resultado: <span>{resultadoOperacao}</span></h2>
          </div>
          <button class="calcular">Voltar</button>
        </form>
      </div>
    </div>

    <p class="footer">Create your web page using Quarkus RESTEasy & Qute 🔥</p>
  </body>
</html>
