<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="estilos.css">
</head>
<body>
  
  <form action="" method="post">
    <h2>
      Calculadora
    </h2>
    <label>
      <p>Primeiro valor:</p>
      <input type="number" step="0.01" name="primeiroValor" id="primeiroValor" required>
    </label>

    <label>
      <p>Segundo valor:</p>
      <input type="number" step="0.01" name="segundoValor" id="segundoValor" required>
    </label>

    <label class="selection">
      <p><select name="selection">
        {#for op in arithmeticOperations}
          <option value="{op.getKey()}">{op.getValue()}</option>
        {/for}
      </select></p>
    </label>

    <input type="submit" value="Calcular">
    {name}
  </form>

</body>
</html>