<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  
  <form action="" method="post">
    <label>
      Primeiro valor:
      <input type="number" name="primeiroValor" id="primeiroValor">
    </label>

    <label>
      Segundo valor:
      <input type="number" name="segundoValor" id="segundoValor">
    </label>

    <label>
      <select name="selection">
        {#for op in arithmeticOperations}
          <option value="{op.getKey()}">{op.getValue()}</option>
        {/for}
      </select>
    </label>

    <input type="submit" value="Calcular">
    {name}
  </form>

</body>
</html>