<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Calculadora</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main class="container">
    <!-- <img src="eng-logo.gif" class="logo-course" /> -->
    <form class="content" action="/calculadora" method="POST" name="todoForm">
      <h2>Calculadora do <b>{name}</b></h2>

      <label>
        Primeiro Valor
        <br>
        <input type="number" name="primeiroValor" id="primeiroValor" required/>
      </label>

      <label>
        Segundo Valor
        <br>
        <input type="number" name="segundoValor" id="segundoValor" required/>
      </label>

      <label>
        Operação
        <select name="selectCalculadora" id="selectCalculadora">
          Operação
          {#for op in arithmeticOperations}
          <option value="{op.getKey()}">{op.getValue()}</option>
          {/for}
        </select>
      </label>

      <button class="btn-calculate" type="submit">Calcular</button>
    </form>
  </main>
</body>

</html>