<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello {dataDTO.name ?: "Qute"}</title>
    <style>
    </style>
</head>
<body>
<h1>Resultado é <b>{dataDTO.resultado ?: "Realize o Calculo!"}</b></h1>

<form action="/Calculadora" method="post">
    <label>Valor 1</label>
    <input name="valor1"/>
    <br />
        <label>Valor 2</label>
        <input name="valor2"/>
    <br />
        <select>
            <option>Soma</option>
            <option>Sub</option>
            <option>Mult</option>
            <option>Div</option>
        </select>
    <br />
    <button>Calcular</button>
</form>


<p>Create your web page using Quarkus RESTEasy & Qute</p>
</body>
</html>
